@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
h1 {
  margin: 0 !important; }

strong {
  font-weight: 900 !important; }

html, body {
  background-color: #FCFAFB;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0; }

nav {
  height: 10% !important; }

.media-icon {
  width: 25px;
  cursor: pointer; }

.repository--jumbo {
  width: 100%;
  height: 40%;
  background-image: url("/image/defaults/colors.jpg");
  background-size: cover;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.passive-jumbo {
  position: absolute; }

.modal--container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.modal--show {
  z-index: 1003;
  display: block !important; }

.lean--overlay {
  position: fixed;
  z-index: 1002;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  opacity: .5; }

.hide--overlay {
  display: none; }

.container, .content {
  max-width: none;
  background: transparent;
  height: 100%;
  width: 100%;
  position: relative; }

.gutters {
  padding: 2%; }

.nav-wrapper {
  text-align: left;
  padding-left: 2%; }

nav .brand-logo {
  position: relative !important; }

.nav-wrapper {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

.gutters--xs {
  padding: 1%; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

[v-cloak] {
  display: none; }

.f-h {
  height: 100vh; }

.f-w {
  width: 100%; }

.link-input {
  width: 100%; }

.no-show {
  overflow: hidden; }

.flex-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.position-ref {
  position: relative; }

.component--block, .not-available {
  -webkit-box-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative; }

.not-available, .pre-launch {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.repository--nav {
  width: 100%;
  height: 50px;
  background: #F44336; }

.upload-box {
  height: 500px;
  width: 100%;
  max-width: 900px;
  background: white;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.repository--icon {
  border-radius: 50%; }

.repository--search {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 40%; }
  .repository--search .no_result_input {
    border-bottom: 7px solid red !important; }
  .repository--search .positive_result_input {
    border-bottom: 7px solid green !important; }
  .repository--search input {
    border-bottom: 7px solid white !important;
    width: 300px; }

.repository--search-icon {
  height: 50px;
  width: 50px; }

.search--box span {
  color: white;
  font-size: 25px; }

.icon-card {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.delete-icon {
  width: 25px; }

#previewFile {
  width: 100%; }

.gallery--repository, .repository {
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex; }

.background--content {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.video-upload {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 99; }

.full--center {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.upload--centered {
  -webkit-transform: translateY(30%);
  transform: translateY(30%); }

.video-repository {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

.video-upload--content {
  overflow: hidden;
  background: white;
  height: 100%;
  width: 100%;
  position: relative; }

.video-repository--content {
  background: white;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 100%;
  position: relative; }

.repository--video {
  width: 100%;
  position: relative;
  overflow: hidden; }

.video--callout, .video--options, .repository--video {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap; }

.video--options {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.video--nameSpace {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.slide--content {
  width: 100%;
  padding: 1%;
  position: relative;
  z-index: 50;
  flex-basis: 100%;
  flex-shrink: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.slide--left {
  margin-left: -100px; }

.svg-icon {
  z-index: 0 !important; }

.slide--verify {
  width: 100px;
  color: #ffffff;
  background: #F44336;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.verify--cover, .verify--btn {
  height: 100%;
  width: 100%;
  background: white; }

.verify--cover {
  position: absolute;
  top: 0;
  left: 0; }

.component--state {
  height: 90%;
  width: 100%;
  position: relative;
  overflow: scroll; }

.upload--header, .upload--content, .upload--footer {
  width: 100%; }

.upload--header {
  height: 15%;
  padding-left: 2%;
  border-bottom: 1px solid #e0e0e0;
  text-align: left; }
  .upload--header span {
    font-size: 22px; }
  .upload--header .row {
    margin-bottom: 0;
    height: 100%; }
  .upload--header form {
    height: 100%; }

.upload--content {
  height: 70%;
  background: #e0e0e0;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0; }

.upload--footer {
  height: 15%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center; }
  .upload--footer a {
    margin: 0 5px; }

.empty--state {
  padding: 5%;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.overlay--content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative; }

.video-sprite--icon {
  opacity: .5;
  width: 35px;
  margin: 0 5px; }

.icon {
  width: 25%; }

.top-right {
  position: absolute;
  right: 10px;
  top: 18px; }

.m-b-md {
  margin-bottom: 30px; }

.m-t-sm {
  margin-top: 5%; }

.m-t-xs {
  margin-top: 2%; }

.hv:hover {
  cursor: pointer; }

.of-sc {
  overflow: scroll; }

.left-aligned {
  margin: 0;
  height: 100%;
  position: absolute;
  left: 2%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.top-box-margin {
  margin-top: 50px; }

.modal-header {
  padding: 1%; }

.salmon {
  background: #ee6e73 !important;
  color: white !important; }

#myCarousel {
  height: 100%; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel-indicators li {
  background-color: grey;
  border: 1px solid grey; }

.carousel-indicators .active {
  background-color: darkgray;
  border: 1px solid darkgray; }

.item .col {
  height: 100%; }

.item .card.horizontal {
  height: 100%;
  margin: 0; }

.item .card.horizontal .card-image {
  height: 100%;
  max-height: none; }
  .item .card.horizontal .card-image img {
    height: 100%;
    max-width: none; }

.carousel-inner > .item {
  position: relative;
  height: 100%;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  filter: alpha(opacity=50);
  opacity: .5; }

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x; }

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x; }

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9; }

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px; }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px; }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px; }

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1; }

.carousel-control .icon-prev:before {
  content: '\2039'; }

.carousel-control .icon-next:before {
  content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 10px; }

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px; }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px; }
  .carousel-indicators {
    bottom: 20px; } }

.relative {
  position: relative; }

.dropzone label {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.input--hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0; }

.collection {
  width: 100%;
  border: none; }
  .collection .collection-item {
    border-bottom: none;
    color: #636b6f !important; }

.component--row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: no-wrap; }

.component--nav {
  flex-basis: 20%;
  background-color: #FFFFFF;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.nav--greet {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.nav--welcome {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.nav--selects--container {
  width: 100%; }

.nav--selects {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.nav-portal {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  align-items: flex-end; }

.links--nav {
  width: 400px;
  position: relative; }

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase; }

#links--line {
  height: 5px;
  background-color: #636b6f;
  position: absolute;
  bottom: 0;
  left: 0; }

.repository--nav {
  color: white;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap; }

.upload--options {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 99; }

.process--upload {
  opacity: 1 !important; }

.caps {
  text-transform: capitalize; }

.content {
  text-align: center; }

.t-c {
  text-align: center; }

.title {
  font-size: 40px; }
  @media only screen and (min-width: 992px) and (max-width: 1280px) {
    .title {
      font-size: 22px; } }
  @media only screen and (min-width: 1300px) {
    .title {
      font-size: 40px; } }

.sub-title {
  font-size: 24px; }

.accent {
  color: #848A8A;
  font-weight: 800; }

.flex-column-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.flex-row-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap; }

.basis--30 {
  flex-basis: 30%;
  width: 30%; }

.basis--40 {
  width: 40%;
  flex-basis: 40%; }

.basis--100 {
  width: 100%;
  flex-basis: 100%; }

.space-btw {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.space-ard {
  justify-content: space-around; }

.just-center {
  -webkit-box-pack: center;
  justify-content: center; }

.panel--container {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.panel--main {
  width: 100%;
  padding: 5%; }

.pre-launch--edit {
  padding: 10%; }

.panel {
  padding: 2%;
  margin-bottom: 5%;
  border: 1px solid #f2eaee;
  background-color: white; }

.contact--panel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.panel--sideBar {
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: #848A8A; }

.panel li {
  padding: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid grey; }

.panel li a {
  color: #636b6f;
  text-decoration: none;
  text-transform: capitalize; }

textarea {
  width: 100%;
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  color: #636b6f; }

textarea:focus {
  outline: none; }

/* always present */
#links--line {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.tran-05 {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.faded {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.fade-out {
  opacity: 1 !important; }

.fadeIn-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 98;
  opacity: .9; }

.fadeIn-enter, .fadeIn-leave {
  opacity: 0; }

.fadeSlow-transition {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }

.fadeSlow-enter, .fadeSlow-leave {
  opacity: 0; }

.fadeOverlay-transition {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }

.fadeOverlay-enter, .fadeOverlay-leave {
  opacity: .5; }

.fade-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1; }

.fade-enter, .fade-leave {
  opacity: 0; }

.callout-transition {
  display: block;
  opacity: 1;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.callout-enter, .callout-leave {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.slideUp-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.slideUp-enter, .slideUp-leave {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.slideUpHalf-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.slideUpHalf-enter {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

.slideUpHalf-leave {
  display: none; }

.slide--content {
  -webkit-transition: margin .5s ease;
  transition: margin .5s ease; }

.video-upload {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

#reel {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.dropzone {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: white; }

.mVu {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

#list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #E4E4E4; }

.file-opacity {
  opacity: .5; }

.file--data {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.preloader-wrapper {
  margin-top: -100px; }

.preloader-wrapper.big {
  height: 164px !important;
  width: 164px !important; }

h1 {
  margin: 0 !important; }

strong {
  font-weight: 900 !important; }

.hidden {
  display: none; }

.gallery--repository {
  overflow: scroll; }

.gallery--contents, .gallery--add-image {
  height: 100%;
  width: 100%;
  position: relative; }

.gallery--header {
  height: 40%;
  width: 100%;
  padding: 3%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  align-items: flex-start;
  background-size: cover; }

.gallery--add-image {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.add--gallery {
  position: absolute;
  right: 3%;
  bottom: -10%; }

.gallery--main {
  padding: 2%;
  margin-bottom: 5%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  min-height: 60%; }

.gallery--callout {
  text-align: left;
  padding-left: 2%; }

.center-gallery {
  justify-content: space-around; }

.ordered-gallery {
  -webkit-box-pack: start;
  justify-content: flex-start; }

.gallery--image-card {
  width: 350px;
  text-align: left;
  margin: .5%; }

.card .card-image {
  max-height: 200px;
  overflow: hidden; }

.card .card-action a {
  color: black !important; }

.card .card-action .red {
  background: #ee6e73 !important;
  color: white !important; }

.upload--data {
  background: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 5%;
  text-align: left; }

.upload--text-input {
  width: 80%; }

.upload--credit-input {
  text-align: left;
  width: 50%; }

.card--headline {
  color: white;
  position: relative;
  z-index: 99; }

.card--overlay {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  left: 0;
  opacity: .5;
  background: -webkit-linear-gradient(bottom, transparent, black);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top, transparent, black);
  background: linear-gradient(to bottom, transparent, black);
  /* Standard syntax (must be last) */ }

h1 {
  margin: 0 !important; }

strong {
  font-weight: 900 !important; }

.gallery--grid {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll; }

.gallery--grid .gallery--card {
  -webkit-box-flex: 1;
  flex: 1 0 40%;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px; }

.gallery--grid .video--card {
  -webkit-box-flex: 0;
  flex: 0 0 32%;
  height: 400px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px; }

.gallery--card {
  height: 300px;
  max-width: 500px;
  background: white;
  position: relative;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-size: cover;
  cursor: pointer; }

.card-video {
  height: 80%; }

@media (min-width: 410px) {
  .gallery--grid .gallery--card {
    max-width: calc(98% - 10px); } }

@media (min-width: 620px) {
  .gallery--grid .gallery--card {
    max-width: calc(49.33333% - 10px); } }

@media (min-width: 830px) {
  .gallery--grid .gallery--card {
    max-width: calc(25% - 10px); } }

@media (min-width: 1040px) {
  .gallery--grid .gallery--card {
    max-width: calc(20% - 10px); } }

@media (min-width: 1250px) {
  .gallery--grid .gallery--card {
    max-width: calc(24.8% - 10px); } }

@media (min-width: 1460px) {
  .gallery--grid .gallery--card {
    max-width: calc(24.7% - 10px); } }

@media (min-width: 1670px) {
  .gallery--grid .gallery--card {
    min-width: calc(12.5% - 10px); } }

/*# sourceMappingURL=admin.css.map */
