@import "../mixins/mixins";
@import "../mixins/material-card";
@import "../component/fonts";
@import "../utilities/variables";

html, body {
  background-color: $light-grey;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.container, .content{
  max-width: none;
  background: transparent;
  @include cover();
}

.gutters{
  padding:2%;
}

.gutters--xs{
  padding:1%;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

[v-cloak] {
  display: none;
}

.f-h {
  height: 100vh;
}
.f-w{
  width: 100%;
}

.no-show{
  overflow: hidden;
}

.flex-center {
  @include flex();
  align-items: center;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.component--block, .not-available{
  flex: 1;
  @include cover();
}

.not-available, .pre-launch{
  @include flex();
  @include flex-center();
}
.repository--nav{
  width: 100%;
  height: 50px;
  background: #F44336;
}

.video-upload{
  height: 500px;
  width: 100%;
  max-width: 900px;
  display: block;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.upload--centered{
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
  transform: translateY(30%);
}

.video-repository{
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  transition-delay: 1s;
}

.video-upload--content{
  overflow: hidden;
  background: white;
}

.video-upload--content, .video-repository--content{
  background: white;
  @include card(1);
  @include cover();
}

.repository--video{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video--callout, .video--options, .repository--video{
  @include flex();
  @include flex-row(nowrap);
}

.video--options{
  align-items: center;
}

.video--nameSpace{
  @include flex();
  @include flex-column();
}

.slide--content{
  width: 100%;
  padding: 1%;
  position: relative;
  z-index: 50;
  flex-basis: 100%;
  flex-shrink: 0;
  @include flex();
  @include flex-row(nowrap);
  justify-content: space-between;
}

.slide--left{
margin-left: -100px;
}

.svg-icon{
  z-index: 0!important;
}

.slide--verify{
  width: 100px;
  color: #ffffff;
  background: #F44336;
  @include flex();
  @include flex-center();
}

.verify--cover, .verify--btn{
  height: 100%;
  width: 100%;
  background: white;
}
.verify--cover{
  position: absolute;
  top:0;
  left:0;
}


.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay--content{
  overflow: hidden;
  @include cover();
}

.video-sprite--icon{
  opacity: .5;
  width: 35px;
  margin: 0 5px;
}

.icon{
  width: 25%;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.m-b-md {
  margin-bottom: 30px;
}
.m-t-sm {
  margin-top: 5%;
}
.m-t-xs {
  margin-top: 2%;
}
.hv:hover{
  cursor: pointer;
}
.of-sc{
  overflow: scroll;
}
.red{
  color: white;
}