@import "../mixins/mixins";
@import "../mixins/material-card";
@import "../component/fonts";
@import "../utilities/variables";

html, body {
  background-color: $light-grey;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

nav{
  height: 10%!important;
}

.media-icon{
  width: 25px;
  cursor: pointer;
}

.repository--jumbo{
  width: 100%;
  height: 40%;
  background-image: url("/image/defaults/colors.jpg");
  background-size: cover;
  @include flex();
  @include flex-center();
}

.passive-jumbo{
  position: absolute;
}

.modal--container{
  @include fullscreen();
  @include flex();
  @include flex-center();
}

.modal--show{
  z-index: 1003;
  display: block!important;
}

.lean--overlay{
  position: fixed;
  z-index: 1002;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  opacity: .5;
}

.hide--overlay{
  display: none;
}


.container, .content{
  max-width: none;
  background: transparent;
  @include cover();
}

.gutters{
  padding:2%;
}

.nav-wrapper{
  text-align: left;
  padding-left: 2%;
}

nav .brand-logo{
  position: relative!important;
}

.nav-wrapper{
  @include flex();
  @include flex-row(nowrap);
  justify-content: space-between;
  align-items: center;
}

.gutters--xs{
  padding:1%;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

[v-cloak] {
  display: none;
}

.f-h {
  height: 100vh;
}
.f-w{
  width: 100%;
}

.link-input{
  width: 100%;
}

.no-show{
  overflow: hidden;
}

.flex-center {
  @include flex();
  align-items: center;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.component--block, .not-available{
  flex: 1;
  @include cover();
}

.not-available, .pre-launch{
  @include flex();
  @include flex-center();
}
.repository--nav{
  width: 100%;
  height: 50px;
  background: #F44336;
}

.upload-box{
  height: 500px;
  width: 100%;
  max-width: 900px;
  background: white;
  @include card(1);
}

.repository--icon{
  border-radius: 50%;
}

.repository--search{
  @include flex();
  @include flex-row(nowrap);
  align-items: center;
  justify-content: center;
  width: 40%;
  .no_result_input{
    border-bottom: 7px solid red!important;
  }
  .positive_result_input{
    border-bottom: 7px solid green!important;
  }
  input {
    border-bottom: 7px solid white!important;
    width: 300px;
  }
}
.repository--search-icon{
  height: 50px;
  width: 50px;
}
.search--box span{
  color: white;
  font-size: 25px;
}

.icon-card{
  @include card(1);
}

.delete-icon{
  width: 25px;
}

#previewFile{
  width: 100%;
}
.gallery--repository, .repository{
  width: 100%;
  position: relative;
  @include flex();
}
.background--content{
  @include cover();
  @include flex();
  @include flex-center();
}

.video-upload{
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.full--center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload--centered{
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
  transform: translateY(30%);
}

.video-repository{
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  transition-delay: 1s;
}

.video-upload--content{
  overflow: hidden;
  background: white;
  @include cover();
}

.video-repository--content{
  background: white;
  @include card(1);
  @include cover();
}

.repository--video{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video--callout, .video--options, .repository--video{
  @include flex();
  @include flex-row(nowrap);
}

.video--options{
  align-items: center;
}

.video--nameSpace{
  @include flex();
  @include flex-column();
}

.slide--content{
  width: 100%;
  padding: 1%;
  position: relative;
  z-index: 50;
  flex-basis: 100%;
  flex-shrink: 0;
  @include flex();
  @include flex-row(nowrap);
  justify-content: space-between;
}

.slide--left{
margin-left: -100px;
}

.svg-icon{
  z-index: 0!important;
}

.slide--verify{
  width: 100px;
  color: #ffffff;
  background: #F44336;
  @include flex();
  @include flex-center();
}

.verify--cover, .verify--btn{
  height: 100%;
  width: 100%;
  background: white;
}
.verify--cover{
  position: absolute;
  top:0;
  left:0;
}

.component--state{
  height:90%;
  width: 100%;
  position: relative;
  overflow: scroll;
}

.upload--header, .upload--content, .upload--footer{
  width: 100%;
}

.upload--header{
  height: 15%;
  padding-left: 2%;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  span{
    font-size: 22px;
  }
  .row{
    margin-bottom: 0;
    height: 100%;
  }
  form{
    height: 100%;
  }
}

.upload--content{
  height: 70%;
  background: #e0e0e0;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}

.upload--footer{
  height: 15%;
  @include flex();
  @include flex-row(nowrap);
  position: relative;
  justify-content: flex-end;
  align-items: center;
  a{
    margin: 0 5px;
  }
}

.empty--state{
  padding: 5%;
  width: 100%;
  @include flex();
  @include flex-center();
}

.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay--content{
  overflow: hidden;
  @include cover();
}

.video-sprite--icon{
  opacity: .5;
  width: 35px;
  margin: 0 5px;
}

.icon{
  width: 25%;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.m-b-md {
  margin-bottom: 30px;
}
.m-t-sm {
  margin-top: 5%;
}
.m-t-xs {
  margin-top: 2%;
}
.hv:hover{
  cursor: pointer;
}
.of-sc{
  overflow: scroll;
}

.left-aligned{
  margin: 0;
  height: 100%;
  position: absolute;
  left: 2%;
  @include flex();
  @include flex-center();
}

.top-box-margin{
  margin-top: 50px;
}

.modal-header{
  padding: 1%;
}

.salmon{
    background: $salmon!important;
    color: white!important;
  }

#myCarousel{
  height: 100%;
}


.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-indicators li{
  background-color: grey;
  border: 1px solid grey;
}
.carousel-indicators .active{
  background-color: darkgray;
  border: 1px solid darkgray;
}
.item{
  .col{
    height: 100%;
  }
  .card.horizontal{
    height: 100%;
    margin: 0;
  }
  .card.horizontal .card-image{
    height: 100%;
    max-height: none;
    img{
      height: 100%;
      max-width: none;
    }
  }
}
.carousel-inner > .item {
  position: relative;
  height: 100%;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition:      -o-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.relative{
  position: relative;
}

.dropzone label{
  @include cover();
  @include flex();
  @include flex-center();
}

.input--hidden{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0;
}
