@import "../mixins/mixins";
@import "../mixins/material-card";
@import "../utilities/variables";


.collection{
  width: 100%;
  border: none;
  .collection-item{
    border-bottom: none;
    color: #636b6f!important;
  }
}
.component--row{
  @include flex();
  @include flex-row(no-wrap);
}
.component--nav{
  flex-basis: 20%;
  background-color: #FFFFFF;
  @include flex();
  @include flex-column();
}

.nav--greet {
  @include card(1);
  @include flex();
  @include flex-center();
}

.nav--welcome{
  @include flex();
  @include flex-column();
}

.nav--selects--container{
  width: 100%;
}
.nav--selects{
  @include flex();
  @include flex-column();
}

.nav-portal{
  position: absolute;
  top: 0;
  left: 0;
  @include flex();
  @include flex-row(nowrap);
  align-items: flex-end;
}

.links--nav{
  width: 400px;
  position: relative;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#links--line{
  height: 5px;
  background-color: #636b6f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.repository--nav{
  color: white;
  @include flex();
  @include flex-row(nowrap);
}


.upload--options{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 99;
}

.process--upload{
  opacity: 1!important;
}