@import "../mixins/mixins";
@import "../utilities/variables";
@import "../component/fonts";

html, body {
  color: #eeeeee!important;
  font-family: 'Fashion Fetish', sans-serif!important;
  @include cover();
  margin: 0;
}

.noFlow{
  overflow: hidden;
}

.about--fab{
  overflow: scroll;
  padding-top: 50px;
}

#fabiana{
  background-color: #3A3A3A;
}

#editor{
  p{
    span{
      font-family: "Fashion Fetish", sans-serif!important;
      color: white!important;
    }
    font-size: 22px;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

[v-cloak] {
  display: none;
}
.no-show{
  opacity: 0!important;
}

.full-height {
  height: 100vh;
}
.full{
  @include cover();
}

.contact-cards{
  width: 500px;
  @include flex();
  @include flex-row(nowrap);
  justify-content: center;
  .contact{
    @include flex();
    @include flex-column();
  }
  .contact:nth-child(1){
    padding-right: 5%;
    text-align: right;
  }
  .contact:nth-child(2){
    padding-left: 5%;
    text-align: left;
  }
}

.content--load-screen{
  @include fullscreen();
  @include flex();
  @include flex-center();
}

.video--reel{
  z-index: 50;
}
.progress-container{
  width: 200px;
  .progress{
    height: 5px;
    .indeterminate{
      background: #808080;
    }
  }
}

.menu--toggle{
  position: absolute;
  z-index: 99;
  top: 5%;
  right: 5%;
}

.item-image-group, .item-card{
  @include cover ();
}

.video-item--indicator{
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px!important;
  height: 50px;
  z-index: 88;
}
.force-opacity{
  opacity: .5!important;
}
.item-overlay{
  @include fullscreen();
  background-color: black;
  opacity: 0;
  z-index: 77;
}

#grid { width:1200px }
.grid-sizer, .grid-item {
  width: 33.3333333%;
}
.grid-item{
  position: relative;
  overflow: hidden;
  .callout-box{
    width: 100%;
    position: relative;
    overflow: hidden;
    .name{
      font-size: 32px;
    }
    .group{
      font-size: 13px;
    }
  }
  .callout-name{
    height: 64px;
  }
  .callout-group{
    height: 25px;
    @include flex();
    @include flex-center();
  }
  .item--callout{
    @include fullscreen();
    @include flex();
    @include flex-center();
    z-index: 88;
    .line-thick{
      height: 10px;
      width: 10%;
    }
    .line-thin{
      display: block;
      height: 1px;
      width: 100%;
    }
    .callout--line{
      position: relative;
      .line{
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      .lw{
        width: 100%;
      }
    }
  }
}
.grid-item img { width:100%; }


.flex-center {
  align-items: center;
  @include flex();
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  overflow: hidden;
  @include cover();
  text-align: center;
}

.content--scroll{
  overflow: scroll;
  @include cover();
  text-align: center;
}

.title {
  font-size: 35px;
  @media #{$desktop}{
    font-size: 44px;
  }
  @media #{$desktopBig} {
    font-size: 64px;
  }
}

.links--nav{
  width: 100%;
  @media #{$tabletUp}{
    width: 400px;
  }
  position: relative;
}

.title-underline{
  width: 60%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#links--line{
  height: 5px;
  background-color: #636b6f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.m-b-md {
  margin-bottom: 30px;
}
.hv:hover{
  cursor: pointer;
}

.content--nav{
  height: 100%;
  position: absolute;
  color: #636b6f;
  background: #ffffff;
  margin-left: -30%;
}

.nav--active{
  margin-left: 0!important;
}

.content--component{
  height: 100%;
  margin-left: 0;
}
.content--active{
  margin-left: 30%;
}

#reel{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.repository{
  @include cover();
}

.video--options{
  z-index: 99;
}

.icon-50p{
  width: 50px;
}

//bootstrap carousel

#myCarousel{
  @include fixscreen();
  @include flex();
  @include flex-center();
  z-index: 99;
}
.carousel-backdrop{
  @include fixscreen();
  background-color: black;
  opacity: .96;
  z-index: 88;
}

.item{
  @include cover();
}

.item--card{
  @include cover();
  img{
    width: 100%;
    height: auto;
  }
}
.item-side{
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 88;
}

.close-gallery{
  position: absolute;
  top: 15%;
  right: 20%;
}
.carousel {
  position: relative;
}
.carousel-content {
  position: relative;
  width: 60%;
  height: 60%;
  background: white;
  overflow: hidden;
}
.carousel-indicators li{
  background-color: grey;
  border: 1px solid grey;
}
.carousel-indicators .active{
  background-color: darkgray;
  border: 1px solid darkgray;
}
.carousel-content > .item {
  position: relative;
  height: 100%;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.carousel-content > .item > img,
.carousel-content > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-content > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition:      -o-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-content > .item.next,
  .carousel-content > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-content > .item.prev,
  .carousel-content > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-content > .item.next.left,
  .carousel-content > .item.prev.right,
  .carousel-content > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-content > .active,
.carousel-content > .next,
.carousel-content > .prev {
  display: block;
}
.carousel-content > .active {
  left: 0;
}
.carousel-content > .next,
.carousel-content > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-content > .next {
  left: 100%;
}
.carousel-content > .prev {
  left: -100%;
}
.carousel-content > .next.left,
.carousel-content > .prev.right {
  left: 0;
}
.carousel-content > .active.left {
  left: -100%;
}
.carousel-content > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

.icon25p{
  width: 25px;
}
.icon50p{
  width: 50px!important;
}