@import "../mixins/mixins";
@import "../utilities/variables";

@font-face {
  font-family: 'Fashion Fetish';
  src: url('/fonts/fashion/FashionFetishLight.eot');
  src: url('/fonts/fashion/FashionFetishLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/fashion/FashionFetishLight.woff2') format('woff2'),
  url('/fonts/fashion/FashionFetishLight.woff') format('woff'),
  url('/fonts/fashion/FashionFetishLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1 {
  margin: 0!important;
}

strong{
  font-weight: 900!important;
}