@import "../mixins/mixins";
@import "../mixins/material-card";
@import "../component/fonts";
@import "../utilities/variables";

#grid { width:1200px }
.grid-sizer, .grid-item {
  width: 33.3333333%;
}
.grid-item{
  position: relative;
  overflow: hidden;
  .callout-box{
    width: 100%;
    position: relative;
    overflow: hidden;
    .name{
      font-size: 32px;
    }
    .group{
      font-size: 13px;
    }
  }
  .callout-name{
    height: 64px;
  }
  .callout-group{
    height: 25px;
    @include flex();
    @include flex-center();
  }
  .item--callout{
    cursor: pointer;
    @include fullscreen();
    @include flex();
    @include flex-center();
    z-index: 88;
    .line-thick{
      height: 10px;
      width: 10%;
    }
    .line-thin{
      display: block;
      height: 1px;
      width: 100%;
    }
    .callout--line{
      position: relative;
      .line{
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      .lw{
        width: 100%;
      }
    }
  }
}
.grid-item img { width:100%; }

.item-image-group, .item-card{
  @include cover ();
}

.gallery--grid{
  @include cover();
  @include flex();
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}
.gallery--grid .gallery--card {
  flex: 1 0 40%;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
}
.gallery--grid .video--card {
  flex: 0 0 32%;
  height: 400px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
}
.gallery--card{
  height: 300px;
  max-width: 500px;
  background: white;
  position: relative;
  @include card(1);
  @include flex();
  @include flex-center();
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

.card-video{
  height: 80%;
}
@media (min-width: 410px) {
  .gallery--grid .gallery--card  {
    max-width: calc(98% - 10px);
  }
}
@media (min-width: 620px) {
  .gallery--grid .gallery--card  {
    max-width: calc(49.33333% - 10px);
  }
}
@media (min-width: 830px) {
  .gallery--grid .gallery--card  {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1040px) {
  .gallery--grid .gallery--card  {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .gallery--grid .gallery--card  {
    max-width: calc(24.8% - 10px);
  }
}
@media (min-width: 1460px) {
  .gallery--grid .gallery--card  {
    max-width: calc(24.7% - 10px);
  }
}
@media (min-width: 1670px) {
  .gallery--grid .gallery--card  {
    min-width: calc(12.5% - 10px);
  }
}