@import "../mixins/mixins";
@import "../mixins/material-card";
@import "../component/fonts";
@import "../utilities/variables";

.hidden{
  display: none;
}
.gallery--repository{
  overflow: scroll;
}

.gallery--contents, .gallery--add-image{
  @include cover();
}

.gallery--header{
  height: 40%;
  width: 100%;
  padding: 3%;
  position: relative;
  @include flex();
  @include flex-column();
  justify-content: flex-end;
  align-items: flex-start;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery--add-image{
  @include flex();
  @include flex-center();
}

.add--gallery{
  position: absolute;
  right: 3%;
  bottom: -10%;
}

.gallery--main{
  padding: 2%;
  margin-bottom: 5%;
  @include flex();
  @include flex-row(wrap);
  align-items: flex-start;
  width: 100%;
  min-height: 60%;
}

.gallery--callout{
  text-align: left;
  padding-left: 2%;
}

.center-gallery{
  justify-content: space-around;
}

.ordered-gallery{
  justify-content: flex-start;
}

.gallery--image-card{
  width: 350px;
  text-align: left;
  margin: .5%;
}

.card .card-image{
  max-height: 200px;
  overflow: hidden;
}

.card .card-action a{
  color: black!important;
}

.card .card-action .red{
  background: #ee6e73!important;
  color: white!important;
}

.upload--data{
  background: white;
  @include cover();
  @include flex();
  @include flex-column();
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  text-align: left;
}

.upload--text-input{
  width: 80%;
}
.upload--credit-input{
  text-align: left;
  width: 50%;
}

.card--headline{
  color: white;
  position: relative;
  z-index: 99;
}

.card--overlay{
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  left: 0;
  opacity: .5;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
