/* always present */
#links--line{
  transition: all .5s ease;
}

.tran-05{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.faded{
  opacity: 0;
  transition: all .5s ease;
}

.fade-out{
  opacity: 1!important;
}


//fadeIn transition

.fadeIn-transition{
  transition: all .5s ease;
  z-index: 98;
  opacity: .9;
}

.fadeIn-enter, .fadeIn-leave{
  opacity: 0;
}

//fadeIn slowly

//fadeIn transition

.fadeSlow-transition{
  transition: all 1.5s ease;
}

.fadeSlow-enter, .fadeSlow-leave{
  opacity: 0;
}

.fadeOverlay-transition{
  transition: all 1.5s ease;
}

.fadeOverlay-enter, .fadeOverlay-leave{
  opacity: .5;
}


.fade-transition{
  transition: all .5s ease;
  opacity: 1;
}

.fade-enter, .fade-leave{
  opacity: 0;
}

// callout transitions

.callout-transition{
  display: block;
  opacity: 1;
  transition: transform 1s ease;
  transform: translateY(0);
}

.callout-enter, .callout-leave{
  opacity: 0;
  transform: translateY(-100%);
}


// slide up full transition

.slideUp-transition{
  transition: all .5s ease;
  transform: translateY(0);
}

.slideUp-enter, .slideUp-leave{
  transform: translateY(-100%);
}


// slide up half transition

.slideUpHalf-transition{
  transition: all .5s ease;
  transform: translateY(0);
}

.slideUpHalf-enter{
  transform: translateY(100%);
}

.slideUpHalf-leave{
  display: none;
}



//content transitions

.slide--content{
  -webkit-transition: margin .5s ease;
  -moz-transition: margin .5s ease;
  -ms-transition: margin .5s ease;
  -o-transition: margin .5s ease;
  transition: margin .5s ease;
}

.video-upload{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#reel{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}